<app-header></app-header>
<br>
<div class="container">
  <div>
    <div *ngIf="flagDiv == true" class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">¡Tu producto fue agregado a tu carrito de compras!</h5>
            <br>
            <!-- <p class="card-text"> </p> -->
            <div *ngFor="let item of producto" class="grid">
              <div *ngIf="item.id_producto == idProducto" class="row">
                  <div class="col-md-4" style="text-align-last: left;">
                        <img src="https://gestion.promo.ec/{{item.imagenes}}" 
                        style="width: -webkit-fill-available;" alt="">
                  </div>
                  <div class="col-md-4">
                      <div class="container">
                          <h4 class="display-6">{{item.nombre}}</h4>
                          <hr>
                          <b>Codigo principal:</b>
                           {{item.cod_principal}}
                          <br>
                          Descripción: {{item.descripcion}}
                          <br>
                          Precio: ${{item.precio}}
                          <br> 
                      </div>
                  </div>
                  <br>
                  <div style="align-self: center;" class="col-md-4">
                    <br>
                    <a [routerLink]="['/home']" class="btn btn-dark mx-auto d-grid gap-2">Regresar</a>
                    <br>
                    <a [routerLink]="['/home/carrito']" class="btn btn-danger mx-auto d-grid gap-2">Confirmar Compra</a>
                  </div>
              </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div *ngFor="let item of producto" class="grid">
        <div *ngIf="item.id_producto == idProducto && flagDiv == false" class="row">
            <div class="col-md-6" style="text-align-last: center;">
                <div class="col align-self-center">
                <img src="https://gestion.promo.ec/{{item.imagenes}}" width="90%" alt="">
                </div>
                </div>
            <div class="col-md-6">
                <div class="container">
                    <h1 class="display-3">{{item.nombre}}</h1>
                    <hr>
                    <b>Codigo principal:</b>
                     {{item.cod_principal}}
                    <br>
                    Descripción: {{item.descripcion}}
                    <br>
                    Precio: ${{item.precio}}
                    <br>
                    <div class="" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                          <button type="button" (click)="disCantidadProducto()" class="btn btn-outline-secondary">-</button>
                          <button type="button" class="btn btn-outline-secondary">{{cantidadProducto}}</button>
                          <button type="button" (click)="aumCantidadProducto()" class="btn btn-outline-secondary">+</button>
                        </div>
                    </div>
                    <br>
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary" (click)="agregarCarrito()" type="button">Agregar al carrito</button>
                      </div>  
                      <br>
                      <br>
                </div>
            </div>
        </div>
    </div>
</div>