<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/home']" class="nav-link px-2 text-secondary">Home</a></li>
        
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Bienvenido, {{usuario.name}}</button>
        <button (click)="logout()" type="button" class="btn btn-warning me-2">Cerrar</button>
        <button  type="button" class="btn btn-danger me-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <small *ngIf="valorNotificacion"> &nbsp; {{valorNotificacion}}</small>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <nav class="nav">
          <a class="nav-link disabled " style="color: white;" aria-current="page" href="#">Mujeres</a>
          <a class="nav-link disabled " style="color: white;" href="#">Hombres</a>
          <a class="nav-link disabled " style="color: white;" href="#">Niños</a>
          <a class="nav-link disabled " style="color: white;">Belleza</a>
          <a class="nav-link disabled " style="color: white;">Hogar</a>
        </nav>
      </div>
    </div>
  </div>
  
</header>
<!-- <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-2">
          
          <div class="col-3" style="text-align: end;">
            <button [routerLink]="['/home']" type="button" class="btn btn-dark me-2">Logo</button>
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-6" style="text-align: end;"><input type="search" class="form-control form-control-dark" placeholder="Busca tu producto" aria-label="Busca tu producto">
            </div>
            <div class="col-3" style="text-align: end;">
              <button type="button" class="btn btn-dark me-2">Bienvenido, {{usuario.name}}</button>
            </div>
            <div class="col-3" style="text-align: center;">
              <button (click)="logout()"  type="button" class="btn btn-warning me-2">Cerrar</button>
              <button  type="button" class="btn btn-danger me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <small *ngIf="valorNotificacion"> &nbsp; {{valorNotificacion}}</small>
              </button>
            </div>
          </div>
          <div >
            
          </div>
        </div>
      </div>
      
      
      
    </div>
  </header> -->